ultralytics 
easyocr 
chromadb 
langchain 
face_recognition 
dlib 
insightface 
onnxruntime 
videodb 
groq 
langchain_huggingface 
langchain_community 
easyocr 
weaviate-client 
sentence-transformers 
deep_sort_realtime 
scikit-learn
chainlit
